<br>
<input type="text" accesskey="U" id="date_input" class="formElement formElementText" name="j_date"
    maxlength="10" value="" placeholder="Date (yyyy-mm-dd)" autocomplete="off">
<br>  <br>
<input type="text" accesskey="U" id="track_input" class="formElement formElementText" name="j_track"
    maxlength="50" value="" placeholder="Track" autocomplete="off">
 <br>  <br>
 <input type="text" accesskey="U" id="laps_input" class="formElement formElementText" name="j_laps"
     maxlength="3" value="" placeholder="Laps" autocomplete="off">

  <br> <br>
<input type="text" accesskey="U" id="userid" class="formElement formElementText" name="j_username"
    maxlength="30" value="" placeholder="Username" autocomplete="off">
   <br>  <br>
<input type="password" accesskey="P" id="password" class="formElement formElementPassword"
        name="password" maxlength="32" placeholder="Password" autocomplete="off">
  </div>
